body {
	background: black;
}

#main-layout {
	display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#console {
	flex: 1 0 auto;
	background: black;
	position: relative;
}

#console-main {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

#command-bar {
	height: 35px;
	position: relative;
	background: black;
	display: flex;
	padding: 5px;
}

#commandline {
	flex: 1 0 auto;
	font-size: 28px;
}

.console-entry {
	font-family: Courier New, Courier, sans-serif;
	color: white;
}

.console-entry.user-command {
	color: limegreen;
}

.console-entry.user-command::before {
	content: '> ';
}

.cmdline-text {
	color: #FFF;
	font-family: Courier New, Courier, sans-serif;
	padding-top: 7px
}